<div class="wrap" [ngStyle]="{
                                perspective: perspective + 'px',
                                'perspective-origin': originX + '% ' + originY + '%'
                             }">
    <div class="component"
         [ngStyle]="{transform: { x: cRotateX, y: cRotateY, z: cRotateZ } | rotate}">
        <div id="x">
            <div class="p-line"></div>
            <em style="left: 50%;top: 0px">y(-200)</em>
            <em style="left: 50%;bottom: 0px;">y(200)</em>
        </div>
        <div id="y">
            <div class="p-line"></div>
            <em style="left: 50%;top: 0px">z(-200)</em>
            <em style="left: 50%;bottom: 0px;">z(200)</em>
        </div>
        <div id="z">
            <div class="p-line"></div>
            <em style="left: 50%;top: 0px">x(200)</em>
            <em style="left: 50%;bottom: 0px;">x(-200)</em>
        </div>
        <div class="left">
            <span class="line">up</span>
        </div>
        <div class="right">right</div>
        <div class="top">top</div>
        <div class="bottom">bottom</div>
        <div class="up">up</div>
        <div class="down">down</div>
    </div>
</div>

