<nz-modal [nzVisible]="isAddVisible"
          [nzTitle]="'批量生成机柜'"
          [nzClosable]="false"
          [nzMaskClosable]="false"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter"
          (nzOnCancel)="isVisible = false">
    <ng-template #modalContent>
        <div style="padding: 20px 50px;">
            <div class="c-item">
                <p>机房名称</p>
                <nz-input
                    [(ngModel)]="roomName"
                    [nzSize]="'large'"
                    [nzPlaceHolder]="'机房名称'">
                </nz-input>
            </div>
            <div class="c-item">
                <p>添加机柜行数</p>
                <nz-input
                    [(ngModel)]="cabinetRow"
                    [nzSize]="'large'"
                    [nzPlaceHolder]="'添加机柜行数'">

                </nz-input>
            </div>
            <div class="c-item">
                <p>添加机柜列数</p>
                <nz-input
                    [(ngModel)]="cabinetCol"
                    [nzSize]="'large'"
                    [nzPlaceHolder]="'添加机柜列数'">

                </nz-input>
            </div>
            <div class="c-item">
                <p>机柜名称</p>
                <nz-input
                    [(ngModel)]="cabinetname"
                    [nzSize]="'large'"
                    [nzPlaceHolder]="'输入机柜名字'">
                </nz-input>
            </div>
            <div class="c-item">
                <nz-select
                    style="width: 200px;"
                    nzAllowClear
                    [nzPlaceHolder]="'请选择机柜型号'"
                    [(ngModel)]="selectedCabinetType"
                    [nzShowSearch]="true">
                    <nz-option
                        *ngFor="let cabinetType of cabinetType let index = index"
                        [nzLabel]="cabinetType.cabinetTypeName"
                        [nzValue]="index">
                    </nz-option>
                </nz-select>
            </div>
        </div>
    </ng-template>
    <ng-template #modalFooter>
        <div class="modal-footer">
            <button (click)="closeModal()" class="m-btn" type="button">取&nbsp;&nbsp;消</button>
            <button (click)="saveRoom()" class="m-btn" type="button">保&nbsp;&nbsp;存</button>
        </div>
    </ng-template>
</nz-modal>
