<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    var arr = [{
        basePrice: "20.35",
        code: "1",
        element: "0.27",
        id: "TLWJ0005_1",
        name: "Ⅰ类工",
        quotaType: 1,
        unName: "工日",
        weight: "",
        shortTimeElement: "2"
    }, {
        basePrice: "447.37",
        code: "9100001",
        element: "0.014",
        id: "TLWJ0002__9100001",
        name: "履带式液压单斗挖掘机  ≤0.6m3",
        quotaType: 3,
        unName: "台班",
        weight: "",
        shortTimeElement: "2"
    }, {
        basePrice: "687.71",
        code: "9100003",
        element: "0.065",
        id: "TLWJ0002__9100003",
        name: "履带式液压单斗挖掘机  ≤1.0m3",
        quotaType: 3,
        unName: "台班",
        weight: "",
        shortTimeElement: "2"
    }, {
        basePrice: "865.81",
        code: "9100006",
        element: "0.034",
        id: "TLWJ0002__9100006",
        name: "履带式液压单斗挖掘机  ≤2.0m3",
        quotaType: 3,
        unName: "台班",
        weight: "",
        shortTimeElement: "2"
    }, {
        basePrice: "1008.55",
        code: "9100008",
        element: "0.020",
        id: "TLWJ0002__9100008",
        name: "履带式液压单斗挖掘机  ≤2.5m3",
        quotaType: 3,
        unName: "台班",
        weight: "",
        shortTimeElement: "2"
    }, {
        basePrice: "456.72",
        code: "9100102",
        element: "0.033",
        id: "TLWJ0002__9100102",
        name: "履带式推土机  ≤75kW",
        quotaType: 3,
        unName: "台班",
        weight: "",
        shortTimeElement: "2"
    }, {
        basePrice: "333.85",
        code: "9103102",
        element: "0.068",
        id: "TLWJ0002__9103102",
        name: "自卸汽车  ≤6t",
        quotaType: 3,
        unName: "台班",
        weight: "",
        shortTimeElement: "2"
    }, {
        basePrice: "431.8",
        code: "9103103",
        element: "0.245",
        id: "TLWJ0002__9103103",
        name: "自卸汽车  ≤8t",
        quotaType: 3,
        unName: "台班",
        weight: "",
        shortTimeElement: "2"
    }, {
        basePrice: "544.86",
        code: "9103104",
        element: "0.037",
        id: "TLWJ0002__9103104",
        name: "自卸汽车  ≤10t",
        quotaType: 3,
        unName: "台班",
        weight: "",
        shortTimeElement: "2"
    }, {
        basePrice: "619.73",
        code: "9103105",
        element: "0.158",
        id: "TLWJ0002__9103105",
        name: "自卸汽车  ≤12t",
        quotaType: 3,
        unName: "台班",
        weight: "",
        shortTimeElement: "2"
    }, {
        basePrice: "754.46",
        code: "9103106",
        element: "0.108",
        id: "TLWJ0002__9103106",
        name: "自卸汽车  ≤15t",
        quotaType: 3,
        unName: "台班",
        weight: "",
        shortTimeElement: "2"
    }, {
        basePrice: "921.91",
        code: "9103107",
        element: "0.043",
        id: "TLWJ0002__9103107",
        name: "自卸汽车  ≤20t",
        quotaType: 3,
        unName: "台班",
        weight: "",
        shortTimeElement: "2"
    }, {
        basePrice: "1283.4",
        code: "9103108",
        element: "0.036",
        id: "TLWJ0002__9103108",
        name: "自卸汽车  ≤25t",
        quotaType: 3,
        unName: "台班",
        weight: "",
        shortTimeElement: "2"
    }, {
        basePrice: "20.35",
        code: "1",
        element: "0.31",
        id: "TLWJ0005_1",
        name: "Ⅰ类工",
        quotaType: 1,
        unName: "工日",
        weight: "",
        shortTimeElement: "3"
    }, {
        basePrice: "447.37",
        code: "9100001",
        element: "0.017",
        id: "TLWJ0002__9100001",
        name: "履带式液压单斗挖掘机  ≤0.6m3",
        quotaType: 3,
        unName: "台班",
        weight: "",
        shortTimeElement: "3"
    }, {
        basePrice: "687.71",
        code: "9100003",
        element: "0.075",
        id: "TLWJ0002__9100003",
        name: "履带式液压单斗挖掘机  ≤1.0m3",
        quotaType: 3,
        unName: "台班",
        weight: "",
        shortTimeElement: "3"
    }, {
        basePrice: "865.81",
        code: "9100006",
        element: "0.039",
        id: "TLWJ0002__9100006",
        name: "履带式液压单斗挖掘机  ≤2.0m3",
        quotaType: 3,
        unName: "台班",
        weight: "",
        shortTimeElement: "3"
    }, {
        basePrice: "1008.55",
        code: "9100008",
        element: "0.022",
        id: "TLWJ0002__9100008",
        name: "履带式液压单斗挖掘机  ≤2.5m3",
        quotaType: 3,
        unName: "台班",
        weight: "",
        shortTimeElement: "3"
    }, {
        basePrice: "456.72",
        code: "9100102",
        element: "0.039",
        id: "TLWJ0002__9100102",
        name: "履带式推土机  ≤75kW",
        quotaType: 3,
        unName: "台班",
        weight: "",
        shortTimeElement: "3"
    }, {
        basePrice: "333.85",
        code: "9103102",
        element: "0.068",
        id: "TLWJ0002__9103102",
        name: "自卸汽车  ≤6t",
        quotaType: 3,
        unName: "台班",
        weight: "",
        shortTimeElement: "3"
    }, {
        basePrice: "431.8",
        code: "9103103",
        element: "0.245",
        id: "TLWJ0002__9103103",
        name: "自卸汽车  ≤8t",
        quotaType: 3,
        unName: "台班",
        weight: "",
        shortTimeElement: "3"
    }];

        for (let j = 0; j<arr.length;j++){


        for (let i = 0; i < arr.length-1; i++) {
            if(arr[i].id===arr[i+1].id){
                let number = parseFloat(arr[i].element)+parseFloat(arr[i+1].element);
                arr[i].element= number;
                arr[i+1].element = number;
                let temp = arr[i];
                arr[i]=arr[i+1];
                arr[i+1]=temp;
            }
        }
            console.log(arr)
        }

</script>
</body>
</html>
