.wrap {
    position: relative;
    text-align: center;
    height: 100%;
    background: #ffffff;
    backface-visibility: hidden;
    .component {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -200px;
        margin-top: -200px;
        height: 400px;
        width: 400px;
        background: silver;
        border: 1px solid #cccccc;
        transform-style: preserve-3d;
        display: inline-block;
        transition: all .1s;
        #zbX {
            position: absolute;
            margin-left: -400px;
            width: 800px;
            height: 1px;
            border-bottom: 1px dashed #333333;
        }
        #zbY {
            position: absolute;
            width: 1px;
            height: 800px;
            margin-top: -400px;
            border-right: 1px dashed #333333;
        }
    }
    .pane {
        position: absolute;
        right: 0px;
        top: 10px;
        width: 280px;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 15px 5px;
        .pane-item {
            line-height: 32px;
        }
    }
}
