<div class="wrap">
    <div class="component"
         [ngStyle]="{
            'transform-origin': originX + '% ' + originY + '%',
             transform: '
                rotate(' + rotate + 'deg)
                scale(' + scaleX + ','+ scaleY + ')
                skew(' + skewX + 'deg,' + skewY + 'deg)
                translate(' + translateX + '%,' + translateY + '%)
             '

             }">

        <div id="zbX" style="text-align: right" [ngStyle]="{
                left: (originX - translateX) + '%',
                top: (originY - translateY) + '%'
             }">
            X
        </div>
        <div id="zbY" [ngStyle]="{
                left: (originX - translateX) + '%',
                top: (originY - translateY) + '%'}">
            <span style="position: absolute;bottom: 0;">Y</span>
        </div>
    </div>
    <div class="pane">
        <div nz-row class="pane-item">
            <div nz-col [nzSpan]="4">
                <span>旋转</span>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-slider [(ngModel)]="rotate" [nzMin]="-360" [nzMax]="360"></nz-slider>
            </div>
            <div nz-col nzSpan="8">
                <nz-input-number [nzMin]="-360" [nzMax]="360" [(ngModel)]="rotate"></nz-input-number>
            </div>
        </div>
        <div nz-row class="pane-item">
            <div nz-col [nzSpan]="4">
                <span>基准点X</span>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-slider [(ngModel)]="originX" [nzMin]="-100" [nzTipFormatter]="formatter"></nz-slider>
            </div>
            <div nz-col nzSpan="8">
                <nz-input-number [nzMin]="-100" [nzMax]="100"  [(ngModel)]="originX"></nz-input-number>
            </div>
        </div>
        <div nz-row class="pane-item">
            <div nz-col [nzSpan]="4">
                <span>基准点Y</span>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-slider [(ngModel)]="originY" [nzMin]="-100" [nzTipFormatter]="formatter"></nz-slider>
            </div>
            <div nz-col nzSpan="8">
                <nz-input-number [nzMin]="-100" [nzMax]="100" [(ngModel)]="originY"></nz-input-number>
            </div>
        </div>
        <div nz-row class="pane-item">
            <div nz-col [nzSpan]="4">
                <span>缩放X</span>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-slider [(ngModel)]="scaleX" [nzStep]="0.1" [nzMax]="3"></nz-slider>
            </div>
            <div nz-col nzSpan="8">
                <nz-input-number [nzStep]="0.1" [nzMin]="0" [nzMax]="3" [(ngModel)]="scaleX"></nz-input-number>
            </div>
        </div>
        <div nz-row class="pane-item">
            <div nz-col [nzSpan]="4">
                <span>缩放Y</span>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-slider [(ngModel)]="scaleY" [nzStep]="0.1" [nzMax]="3"></nz-slider>
            </div>
            <div nz-col nzSpan="8">
                <nz-input-number [nzStep]="0.1" [nzMin]="0" [nzMax]="3" [(ngModel)]="scaleY"></nz-input-number>
            </div>
        </div>
        <div nz-row class="pane-item">
            <div nz-col [nzSpan]="4">
                <span>倾斜X</span>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-slider [(ngModel)]="skewX" [nzMin]="-80" [nzMax]="80"></nz-slider>
            </div>
            <div nz-col nzSpan="8">
                <nz-input-number [nzMin]="-80" [nzMax]="80" [(ngModel)]="skewX"></nz-input-number>
            </div>
        </div>
        <div nz-row class="pane-item">
            <div nz-col [nzSpan]="4">
                <span>倾斜Y</span>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-slider [(ngModel)]="skewY" [nzMin]="-80" [nzMax]="80"></nz-slider>
            </div>
            <div nz-col nzSpan="8">
                <nz-input-number [nzMin]="-80" [nzMax]="80" [(ngModel)]="skewY"></nz-input-number>
            </div>
        </div>
        <div nz-row class="pane-item">
            <div nz-col [nzSpan]="4">
                <span>偏移X</span>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-slider [(ngModel)]="translateX" [nzMin]="-90" [nzMax]="90"></nz-slider>
            </div>
            <div nz-col nzSpan="8">
                <nz-input-number [nzMin]="-90" [nzMax]="90" [(ngModel)]="translateX"></nz-input-number>
            </div>
        </div>
        <div nz-row class="pane-item">
            <div nz-col [nzSpan]="4">
                <span>偏移Y</span>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-slider [(ngModel)]="translateY" [nzMin]="-90" [nzMax]="90"></nz-slider>
            </div>
            <div nz-col nzSpan="8">
                <nz-input-number [nzMin]="-90" [nzMax]="90" [(ngModel)]="translateY"></nz-input-number>
            </div>
        </div>
    </div>
</div>
