<div class="asset-wrap">
    <div class="menu-left">
        <ul nz-menu [nzMode]="'inline'" nzTheme='light' [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu>
                <span title>
                    <i class="anticon anticon-mail"></i>
                    <span>资产管理</span>
                </span>
                <ul>
                    <li nz-menu-item (click)="$router.navigate(['/asset/servicer/rock'])">机架服务器</li>
                    <li nz-menu-item (click)="$router.navigate(['/asset/maintenance'])">刀片服务器</li>
                    <li nz-menu-item (click)="$router.navigate(['/asset/maintenance'])">网络设备</li>
                    <li nz-submenu>
                        <span title>资产维护</span>
                        <ul>
                            <li nz-menu-item (click)="$router.navigate(['/asset/manager/brand'])">品牌维护</li>
                            <li nz-menu-item (click)="$router.navigate(['/asset/manager/series'])">系列维护</li>
                            <li nz-menu-item (click)="$router.navigate(['/asset/manager/version'])">型号维护</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li nz-submenu>
                <span title>
                    <i class="anticon anticon-appstore"></i>
                    <span>告警管理</span>
                </span>
                    <ul>
                        <li nz-menu-item>当前告警</li>
                        <li nz-menu-item>历史告警</li>
                    </ul>
            </li>
            <li nz-submenu>
                <span title>
                    <i class="anticon anticon-setting"></i>
                    <span>用户管理</span>
                </span>
                <ul>
                    <li nz-menu-item (click)="$router.navigate(['/asset/user/manager'])">用户维护</li>
                    <li nz-menu-item (click)="$router.navigate(['/asset/user/online'])">在线用户</li>
                    <li nz-menu-item (click)="$router.navigate(['/asset/user/roles'])">角色</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="asset-main">
        <router-outlet></router-outlet>
    </div>
</div>
