<div class="series-wrap">
    <div class="search-area" nz-row >
        <div nz-col class="gutter-row" [nzSpan]="6">
            <nz-input [(ngModel)]="search.name" [nzPlaceHolder]="'系列名称'"></nz-input>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="6">
            <nz-input [(ngModel)]="search.code" [nzPlaceHolder]="'品牌'"></nz-input>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="6">
            <button nz-button  [nzType]="'default'" (click)="getBrandByField()">
                <i class="anticon anticon-search"></i><span>查&nbsp;&nbsp;询</span>
            </button>
        </div>
    </div>
    <div>
        <div style="margin: 10px 25px;">
            <button nz-button [nzType]="'default'" (click)="showSeries('insert')">
                <i class="anticon anticon-plus"></i>
                <span>新&nbsp;&nbsp;增</span>
            </button>
        </div>
        <nz-table #nzTable
                  [nzDataSource]="data"
                  [nzSize]="'small'"
                  [nzIsPagination]="false"
                  [nzScroll]="{ y: 500 }"
                  [nzBordered]="true"
                  [nzPageSize]="10">
            <ng-template #nzFixedHeader>
                <thead nz-thead>
                <tr>
                    <th nz-th [nzWidth]="'100px'"><span>序号</span></th>
                    <th nz-th [nzWidth]="'150px'"><span>品牌名称</span></th>
                    <th nz-th [nzWidth]="'100px'"><span>品牌英文名称</span></th>
                    <th nz-th [nzWidth]="'150px'"><span>操作</span></th>
                </tr>
                </thead>
            </ng-template>
            <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let brand of data;let _index = index;">
                <td nz-td>
                    <span>{{_index + 1}}</span>
                </td>
                <td nz-td>
                    <span>{{brand.name}}</span>
                </td>
                <td nz-td>
                    <span>{{brand.code}}</span>
                </td>
                <td nz-td>
                    <a (click)="showBrand('modify', brand)">修改</a>
                    <a (click)="showBrand('detail', brand)">查看</a>
                    <nz-popconfirm [nzTitle]="'确定要删除这个品牌吗？'"
                                   (nzOnConfirm)="confirmDelete(brand)"
                                   (nzOnCancel)="cancel()">
                        <a nz-popconfirm>删除</a>
                    </nz-popconfirm>
                </td>
            </tr>
            </tbody>
        </nz-table>
        <div style="margin: 20px 30px;text-align: right;">
            <app-pagination [pageIndex]="pageIndex"
                            [pageSize]="pageSize"
                            [total]="total">

            </app-pagination>
        </div>
    </div>
    <nz-modal *ngIf="currentSeries"
              [nzTitle]="modalBrandTitle"
              [nzContent]="modalBrandContent"
              [nzFooter]="modalBrandFooter"
              [nzMaskClosable]="false"
              [nzVisible]="isSeriesDetailShow"
              (nzOnCancel)="isSeriesDetailShow = false">
        <ng-template #modalBrandTitle>
            {{brandModalType === 'detail' ? '详 细' : brandModalType === 'insert' ? '新 增' : '修 改'}}
        </ng-template>
        <ng-template #modalBrandContent>
            <div nz-row class="m-item">
                <div nz-col [nzSpan]="6" class="m-title">
                    品牌名称：
                </div>
                <div nz-col [nzSpan]="18" class="m-content">
                    <nz-input [nzDisabled]="seriesModalType === 'detail'"
                              [(ngModel)]="currentSeries.name"
                              [nzPlaceHolder]="'请输入'">

                    </nz-input>
                </div>
            </div>
            <div nz-row class="m-item">
                <div nz-col [nzSpan]="6" class="m-title">
                    品牌：
                </div>
                <div nz-col [nzSpan]="18" class="m-content">
                    <nz-input [nzDisabled]="seriesModalType === 'detail'"
                              [(ngModel)]="currentSeries.parentId"
                              [nzPlaceHolder]="'请输入'">

                    </nz-input>
                </div>
            </div>
            <div nz-row class="m-item">
                <div nz-col [nzSpan]="6" class="m-title">
                    描述：
                </div>
                <div nz-col [nzSpan]="18" class="m-content">
                    <nz-input [nzDisabled]="seriesModalType === 'detail'"
                              [(ngModel)]="currentSeries.description" [nzType]="'textarea'"
                              [nzPlaceHolder]="'请输入'">

                    </nz-input>
                </div>
            </div>
        </ng-template>
        <ng-template #modalBrandFooter>
            <div class="modal-footer">
                <button (click)="isSeriesDetailShow = false" class="m-btn" type="button">取&nbsp;&nbsp;消</button>
                <button *ngIf="seriesModalType !== 'detail'" (click)="saveSeries()" class="m-btn" type="button">保&nbsp;&nbsp;存</button>
            </div>
        </ng-template>
    </nz-modal>
</div>
