
<div>
    <figure>
        <img src="../../../../assets/image/scale.jpg" width="200">
        <figcaption>
            原始图片
        </figcaption>
    </figure>
    <figure [ngStyle]="{filter: 'grayscale(' + grayscale + '%)'}">
        <img src="../../../../assets/image/scale.jpg" width="200">
        <figcaption>
            grayscale滤镜
            <div nz-row class="pane-item">
                <div nz-col [nzSpan]="4">
                    <span>视距</span>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-slider [(ngModel)]="grayscale" [nzMin]="0" [nzMax]="100"></nz-slider>
                </div>
                <div nz-col nzSpan="8">
                    <nz-input-number [nzMin]="0" [nzMax]="100" [(ngModel)]="grayscale"></nz-input-number>
                </div>
            </div>
        </figcaption>
    </figure>
    <figure [ngStyle]="{filter: 'sepia(' + sepia + '%)'}">
        <img src="../../../../assets/image/scale.jpg" width="200">
        <figcaption>
            sepia滤镜
            <div nz-row class="pane-item">
                <div nz-col [nzSpan]="4">
                    <span>视距</span>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-slider [(ngModel)]="sepia" [nzMin]="0" [nzMax]="100"></nz-slider>
                </div>
                <div nz-col nzSpan="8">
                    <nz-input-number [nzMin]="0" [nzMax]="100" [(ngModel)]="sepia"></nz-input-number>
                </div>
            </div>
        </figcaption>
    </figure>
    <figure [ngStyle]="{filter: 'saturate(' + saturate + '%)'}">
        <img src="../../../../assets/image/scale.jpg" width="200">
        <figcaption>
            saturate滤镜
            <div nz-row class="pane-item">
                <div nz-col [nzSpan]="4">
                    <span>视距</span>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-slider [(ngModel)]="saturate" [nzMin]="0" [nzMax]="100"></nz-slider>
                </div>
                <div nz-col nzSpan="8">
                    <nz-input-number [nzMin]="0" [nzMax]="100" [(ngModel)]="saturate"></nz-input-number>
                </div>
            </div>
        </figcaption>
    </figure>
    <figure [ngStyle]="{filter: 'hue-rotate(' + hueRotate + 'deg)'}">
        <img src="../../../../assets/image/scale.jpg" width="200">
        <figcaption>
            hue-rotate滤镜
            <div nz-row class="pane-item">
                <div nz-col [nzSpan]="4">
                    <span>视距</span>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-slider [(ngModel)]="hueRotate" [nzMin]="0" [nzMax]="100"></nz-slider>
                </div>
                <div nz-col nzSpan="8">
                    <nz-input-number [nzMin]="0" [nzMax]="100" [(ngModel)]="hueRotate"></nz-input-number>
                </div>
            </div>
        </figcaption>
    </figure>
    <figure [ngStyle]="{filter: 'invert(' + invert + '%)'}">
        <img src="../../../../assets/image/scale.jpg" width="200">
        <figcaption>
            invert滤镜
            <div nz-row class="pane-item">
                <div nz-col [nzSpan]="4">
                    <span>视距</span>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-slider [(ngModel)]="invert" [nzMin]="0" [nzMax]="100"></nz-slider>
                </div>
                <div nz-col nzSpan="8">
                    <nz-input-number [nzMin]="0" [nzMax]="100" [(ngModel)]="invert"></nz-input-number>
                </div>
            </div>
        </figcaption>
    </figure>
    <figure [ngStyle]="{filter: 'opacity(' + opacity + '%)'}">
        <img src="../../../../assets/image/scale.jpg" width="200">
        <figcaption>
            opacity滤镜
            <div nz-row class="pane-item">
                <div nz-col [nzSpan]="4">
                    <span>视距</span>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-slider [(ngModel)]="opacity" [nzMin]="0" [nzMax]="100"></nz-slider>
                </div>
                <div nz-col nzSpan="8">
                    <nz-input-number [nzMin]="0" [nzMax]="100" [(ngModel)]="opacity"></nz-input-number>
                </div>
            </div>
        </figcaption>
    </figure>
    <figure [ngStyle]="{filter: 'contrast(' + contrast + '%)'}">
        <img src="../../../../assets/image/scale.jpg" width="200">
        <figcaption>
            contrast滤镜
            <div nz-row class="pane-item">
                <div nz-col [nzSpan]="4">
                    <span>视距</span>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-slider [(ngModel)]="contrast" [nzMin]="0" [nzMax]="100"></nz-slider>
                </div>
                <div nz-col nzSpan="8">
                    <nz-input-number [nzMin]="0" [nzMax]="100" [(ngModel)]="contrast"></nz-input-number>
                </div>
            </div>
        </figcaption>
    </figure>
    <figure [ngStyle]="{filter: 'blur(' + blur + 'px)'}">
        <img src="../../../../assets/image/scale.jpg" width="200">
        <figcaption>
            blur滤镜
            <div nz-row class="pane-item">
                <div nz-col [nzSpan]="4">
                    <span>视距</span>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-slider [(ngModel)]="blur" [nzMin]="0" [nzMax]="100"></nz-slider>
                </div>
                <div nz-col nzSpan="8">
                    <nz-input-number [nzMin]="0" [nzMax]="100" [(ngModel)]="blur"></nz-input-number>
                </div>
            </div>
        </figcaption>
    </figure>
    <figure [ngStyle]="{filter: 'dropShadow(' + dropShadow + '%)'}">
        <img src="../../../../assets/image/scale.jpg" width="200">
        <figcaption>
            drop-shadow滤镜
            <div nz-row class="pane-item">
                <div nz-col [nzSpan]="4">
                    <span>视距</span>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-slider [(ngModel)]="dropShadow" [nzMin]="0" [nzMax]="100"></nz-slider>
                </div>
                <div nz-col nzSpan="8">
                    <nz-input-number [nzMin]="0" [nzMax]="100" [(ngModel)]="dropShadow"></nz-input-number>
                </div>
            </div>
        </figcaption>
    </figure>
</div>
