<div id="tdWrap" class="wrap" [ngStyle]="{
        perspective: perspective + 'px',
        perspectiveOrigin: origin.x + '% ' + origin.y + '%'
    }">
    <div id="eye" class="eye"
         (mousedown)="mousedown($event)"
         [ngStyle]="{
            left: origin.x + '%',
            top: origin.y + '%'
        }">
        <i class="anticon anticon-eye"></i>
    </div>
    <div class="component" [ngStyle]="{
            transform: '
                rotateX(' + componentRotate.x + 'deg)
                rotateY(' + componentRotate.y + 'deg)
                rotateZ(' + componentRotate.z + 'deg)
            '
        }">
        <div id="zbX">
            <span>X</span>
        </div>
        <div id="zbY">
            <span>Y</span>
        </div>
        <div id="zbZ">
            <span>Z</span>
        </div>

        <div class="item" [ngStyle]="{
                transform: '
                    translateX(' + (itemTrans.x - 50) + 'px)
                    translateY(' + itemTrans.y + 'px)
                    translateZ(' + itemTrans.z + 'px)
                    rotateY(90deg)
                '
            }">
            left
        </div>
        <div class="item" [ngStyle]="{
                transform: '
                    translateX(' + (itemTrans.x + 50) + 'px)
                    translateY(' + itemTrans.y + 'px)
                    translateZ(' + itemTrans.z + 'px)
                    rotateY(-90deg)
                '
            }">
            right
        </div>
        <div class="item" [ngStyle]="{
                transform: '
                    translateX(' + itemTrans.x + 'px)
                    translateY(' + itemTrans.y + 'px)
                    translateZ(' + (itemTrans.z + 50) + 'px)
                '
            }">
            top
        </div>
        <div class="item" [ngStyle]="{
                transform: '
                    translateX(' + itemTrans.x + 'px)
                    translateY(' + itemTrans.y + 'px)
                    translateZ(' + (itemTrans.z - 50) + 'px)
                '
            }">
            bottom
        </div>
        <div class="item" [ngStyle]="{
                transform: '
                    translateX(' + itemTrans.x + 'px)
                    translateY(' + (itemTrans.y + 50) + 'px)
                    translateZ(' + itemTrans.z + 'px)
                    rotateX(90deg)
                '
            }">
            up
        </div>
        <div class="item" [ngStyle]="{
                transform: '
                    translateX(' + itemTrans.x + 'px)
                    translateY(' + (itemTrans.y - 50) + 'px)
                    translateZ(' + itemTrans.z + 'px)
                    rotateX(-90deg)
                '
            }">
            down
        </div>
    </div>
    <div class="pane">
        <div nz-row class="pane-item">
            <div nz-col [nzSpan]="4">
                <span>视距</span>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-slider [(ngModel)]="perspective" [nzMin]="0" [nzMax]="2000"></nz-slider>
            </div>
            <div nz-col nzSpan="8">
                <nz-input-number [nzMin]="0" [nzMax]="2000" [(ngModel)]="perspective"></nz-input-number>
            </div>
        </div>
        <div nz-row class="pane-item">
            <div nz-col [nzSpan]="4">
                <span>视野焦点X</span>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-slider [(ngModel)]="origin.x" [nzMin]="0" [nzMax]="100"></nz-slider>
            </div>
            <div nz-col nzSpan="8">
                <nz-input-number [nzMin]="0" [nzMax]="100" [(ngModel)]="origin.x"></nz-input-number>
            </div>
        </div>
        <div nz-row class="pane-item">
            <div nz-col [nzSpan]="4">
                <span>视野焦点Y</span>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-slider [(ngModel)]="origin.y" [nzMin]="0" [nzMax]="100"></nz-slider>
            </div>
            <div nz-col nzSpan="8">
                <nz-input-number [nzMin]="0" [nzMax]="100" [(ngModel)]="origin.y"></nz-input-number>
            </div>
        </div>

        <div nz-row class="pane-item">
            <div nz-col [nzSpan]="4">
                <span>容器旋转X</span>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-slider [(ngModel)]="componentRotate.x" [nzMin]="-360" [nzMax]="360"></nz-slider>
            </div>
            <div nz-col nzSpan="8">
                <nz-input-number [nzMin]="-360" [nzMax]="360" [(ngModel)]="componentRotate.x"></nz-input-number>
            </div>
        </div>
        <div nz-row class="pane-item">
            <div nz-col [nzSpan]="4">
                <span>容器旋转Y</span>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-slider [(ngModel)]="componentRotate.y" [nzMin]="-360" [nzMax]="360"></nz-slider>
            </div>
            <div nz-col nzSpan="8">
                <nz-input-number [nzMin]="-360" [nzMax]="360" [(ngModel)]="componentRotate.y"></nz-input-number>
            </div>
        </div>
        <div nz-row class="pane-item">
            <div nz-col [nzSpan]="4">
                <span>容器旋转Z</span>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-slider [(ngModel)]="componentRotate.z" [nzMin]="-360" [nzMax]="360"></nz-slider>
            </div>
            <div nz-col nzSpan="8">
                <nz-input-number [nzMin]="-360" [nzMax]="360" [(ngModel)]="componentRotate.z"></nz-input-number>
            </div>
        </div>


        <div nz-row class="pane-item">
            <div nz-col [nzSpan]="4">
                <span>偏移X</span>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-slider [(ngModel)]="itemTrans.x" [nzMin]="-360" [nzMax]="360"></nz-slider>
            </div>
            <div nz-col nzSpan="8">
                <nz-input-number [nzMin]="-360" [nzMax]="360" [(ngModel)]="itemTrans.x"></nz-input-number>
            </div>
        </div>
        <div nz-row class="pane-item">
            <div nz-col [nzSpan]="4">
                <span>偏移Y</span>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-slider [(ngModel)]="itemTrans.y" [nzMin]="-360" [nzMax]="360"></nz-slider>
            </div>
            <div nz-col nzSpan="8">
                <nz-input-number [nzMin]="-360" [nzMax]="360" [(ngModel)]="itemTrans.y"></nz-input-number>
            </div>
        </div>
        <div nz-row class="pane-item">
            <div nz-col [nzSpan]="4">
                <span>偏移Z</span>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-slider [(ngModel)]="itemTrans.z" [nzMin]="-360" [nzMax]="360"></nz-slider>
            </div>
            <div nz-col nzSpan="8">
                <nz-input-number [nzMin]="-360" [nzMax]="360" [(ngModel)]="itemTrans.z"></nz-input-number>
            </div>
        </div>
    </div>
</div>
