<div class="machine-wrap">
    <div class="m-menu"  [ngStyle]="{transform: isCollapse ? 'translateX(-100%)' : 'translateX(0)'}">
        <div class="m-search">
            <input [(ngModel)]="searchValue" (ngModelChange)="$watchSearch($event)" type="text" placeholder="search....">
            <i class="anticon anticon-search"></i>
            <div class="m-search-panel" *ngIf="searchValue">
                <p class="ms-title">搜"{{searchValue}}"的相关结果>></p>
                <div class="ms-room" *ngIf="ass.rooms.length > 0">
                    <em><i class="anticon anticon-chrome"></i><span>机房</span></em>
                    <ul class="ms-ul">
                        <li *ngFor="let room of ass.rooms"
                            (click)="router.navigate(['machine/room/' + room.id])">
                            {{room.name}}
                        </li>
                    </ul>
                </div>
                <div class="ms-room" *ngIf="ass.cabinets.length > 0">
                    <em><i class="anticon anticon-ie"></i><span>机柜</span></em>
                    <ul class="ms-ul">
                        <li *ngFor="let cabinet of ass.cabinets"
                            [title]="'位置：' + cabinet.parent"
                            (click)="router.navigate(['machine/cabinet/' + cabinet.id])">
                            {{cabinet.name}}
                        </li>
                    </ul>
                </div>
                <div class="ms-room" *ngIf="ass.servicers.length > 0">
                    <em><i class="anticon anticon-github"></i>服务器</em>
                    <ul class="ms-ul">
                        <li *ngFor="let server of ass.servicers"
                            [title]="'位置：' + server.parent">
                            {{server.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="collapse" (click)="toggleCollapse()" [ngClass]="{close: isCollapse}">
            <i class="anticon anticon-caret-left"></i>
        </div>
        <ul class="custom-menu">
            <li class="l-menu" *ngFor="let item of data">
                <span class="l-title l1"
                      (dblclick)="router.navigate(['machine/room/' + item.id])">
                    {{item.name}}
                    <div class="deal-area">
                        <em title="批量添加机柜">
                            <i class="anticon anticon-plus-square-o" (click)="addCabinetBatch()"></i>
                        </em>
                        <em title="删除机房">
                            <i class="anticon anticon-minus-square-o"></i>
                        </em>
                        <em title="修改机房">
                            <i class="anticon anticon-edit"></i>
                        </em>
                    </div>
                    <em class="icon" [title]="item.isOpen ? '收起' : '展开'" (click)="toggleMenu(item, $event)">
                        <i class="anticon anticon-down"
                           [ngClass]="{'rotate': item.isOpen}"></i>
                    </em>
                </span>
                <ul [@fadeState]="item.isOpen ? 'active' : 'inactive'">
                    <li class="l-menu" *ngFor="let item_i of item.cabinets">
                        <span class="l-title l2"
                              (dblclick)="router.navigate(['machine/cabinet/' + item_i.id])">
                              {{item_i.name}}
                            <div class="deal-area">
                                <em title="新增机柜">
                                    <i class="anticon anticon-plus-square-o"></i>
                                </em>
                                <em title="删除机柜">
                                    <i class="anticon anticon-minus-square-o"></i>
                                </em>
                                <em title="修改机柜">
                                    <i class="anticon anticon-edit"></i>
                                </em>
                            </div>
                            <em class="icon"
                                [title]="item_i.isOpen ? '收起' : '展开'"
                                (click)="toggleMenu(item_i, $event)">
                                <i class="anticon anticon-down" [ngClass]="{'rotate': item_i.isOpen}">

                                </i>
                            </em>
                        </span>
                        <ul [@fadeState]="item_i.isOpen ? 'active' : 'inactive'">
                            <li class="l-item" *ngFor="let item_ii of item_i.servicers">
                                <span class="l-title l3">
                                    {{item_ii.name}}
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!--复制过后的机房菜单项-->
            <li class="l-menu" *ngFor="let item of datas">
                <span class="l-title l1"
                      (dblclick)="router.navigate(['machine/room/' + item.roomId])">
                    {{item.roomName}}
                    <div class="deal-area">
                        <em title="批量添加机柜">
                            <i class="anticon anticon-plus-square-o" (click)="addCabinetBatch()"></i>
                        </em>
                        <em title="删除机房">
                            <nz-popconfirm [nzTitle]="'确定要删除吗？'"
                                           (nzOnConfirm)="delroom(item.roomId)"
                                           (nzOnCancel)="cancel()">
                                <i nz-popconfirm class="anticon anticon-minus-square-o"></i>
                            </nz-popconfirm>
                            <!--<i class="anticon anticon-minus-square-o"(click)="delroom(item.roomId)"></i>-->
                        </em>
                        <em title="修改机房">
                            <i class="anticon anticon-edit"></i>
                        </em>
                    </div>
                    <em class="icon" id ='isRoom' [title]="item.isOpen ? '收起' : '展开'" isRoom = true (click)="toggleMenu(item, item.roomId,$event)">
                        <i class="anticon anticon-down" isRoom = true
                           [ngClass]="{'rotate': item.isOpen}"></i>
                    </em>
                </span>
                <ul [@fadeState]="item.isOpen ? 'active' : 'inactive'">
                    <li class="l-menu" *ngFor="let item_i of item.cabinetDatas let index = index">
                        <span class="l-title l2"
                              (dblclick)="router.navigate(['machine/cabinet/' + item_i.cabinetId])">
                              {{item_i.cabinetName}}
                            <div class="deal-area">
                                <em title="新增机柜">
                                    <i class="anticon anticon-plus-square-o"></i>
                                </em>
                                <em title="删除机柜" >
                                    <nz-popconfirm [nzTitle]="'确定要删除吗？'"
                                                   (nzOnConfirm)="delCabinet(item_i.cabinetId,item.roomId,item)"
                                                   (nzOnCancel)="cancel()">
                                <i nz-popconfirm class="anticon anticon-minus-square-o"></i>
                            </nz-popconfirm>
                                </em>
                                <em title="修改机柜">
                                    <i class="anticon anticon-edit"></i>
                                </em>
                            </div>
                            <em class="icon"
                                [title]="item_i.isOpen ? '收起' : '展开'"
                                (click)="toggleMenu(item_i, item_i.cabinetId, $event)">
                                <i class="anticon anticon-down" [ngClass]="{'rotate': item_i.isOpen}">

                                </i>
                            </em>
                        </span>
                        <ul [@fadeState]="item_i.isOpen ? 'active' : 'inactive'">
                            <li class="l-item" *ngFor="let item_ii of item_i.servicers">
                                <span class="l-title l3">
                                    {{item_ii.bserver_code}}
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <button class="add-btn"
                title="新增机房"
                (click)="createRoom()"
                nz-button [nzType]="'dashed'">
            <span><i class="anticon anticon-plus"></i></span>
        </button>
    </div>
    <div class="m-body" [ngStyle]="{left: isCollapse ? '0' : '260px'}">
        <router-outlet></router-outlet>
    </div>

    <app-create-room-modal
        [isVisible]="isVisible" (onVoted)="onVoted($event)">
    </app-create-room-modal>
    <app-add-cabinets [isAddVisible] ='isAddVisible' (close)="closeModal($event)">

    </app-add-cabinets>
</div>
