<div class="machine-wrap">
    <div class="m-menu"  [ngStyle]="{transform: isCollapse ? 'translateX(-100%)' : 'translateX(0)'}">
        <div class="m-search">
            <input type="text" placeholder="search....">
            <i class="anticon anticon-search"></i>
        </div>
        <div class="collapse" (click)="toggleCollapse()" [ngClass]="{close: isCollapse}">
            <i class="anticon anticon-caret-left"></i>
        </div>
        <ul class="custom-menu">
            <li class="l-menu" *ngFor="let item of data">
                <span class="l-title l1"
                      (dblclick)="router.navigate(['machine/room/' + item.id])">
                    {{item.name}}
                    <div class="deal-area">
                        <em title="新增机柜">
                            <i class="anticon anticon-plus-square-o"></i>
                        </em>
                        <em title="删除机柜">
                            <i class="anticon anticon-minus-square-o"></i>
                        </em>
                        <em title="修改机柜">
                            <i class="anticon anticon-edit"></i>
                        </em>
                    </div>
                    <em class="icon" [title]="item.isOpen ? '收起' : '展开'" (click)="toggleMenu(item, $event)">
                        <i class="anticon anticon-down"
                           [ngClass]="{'rotate': item.isOpen}"></i>
                    </em>
                </span>
                <ul [@fadeState]="item.isOpen ? 'active' : 'inactive'">
                    <li class="l-menu" *ngFor="let item_i of item.cabinets">
                        <span class="l-title l2"
                              (dblclick)="router.navigate(['machine/cabinet/' + item_i.id])">
                              {{item_i.name}}
                            <div class="deal-area">
                                <em title="新增服务器">
                                    <i class="anticon anticon-plus-square-o"></i>
                                </em>
                                <em title="删除服务器">
                                    <i class="anticon anticon-minus-square-o"></i>
                                </em>
                                <em title="修改服务器">
                                    <i class="anticon anticon-edit"></i>
                                </em>
                            </div>
                            <em class="icon"
                                [title]="item_i.isOpen ? '收起' : '展开'"
                                (click)="toggleMenu(item_i, $event)">
                                <i class="anticon anticon-down" [ngClass]="{'rotate': item_i.isOpen}">

                                </i>
                            </em>
                        </span>
                        <ul [@fadeState]="item_i.isOpen ? 'active' : 'inactive'">
                            <li class="l-item" *ngFor="let item_ii of item_i.servicers">
                                <span class="l-title l3">
                                    {{item_ii.name}}
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <button class="add-btn"
                title="新增机房"
                (click)="createRoom()"
                nz-button [nzType]="'dashed'">
            <span><i class="anticon anticon-plus"></i></span>
        </button>
    </div>
    <div class="m-body" [ngStyle]="{left: isCollapse ? '0' : '260px'}">
        <router-outlet></router-outlet>
    </div>

    <nz-modal [nzVisible]="isVisible"
              [nzClosable]="false"
              [nzMaskClosable]="false"
              [nzContent]="modalContent"
              [nzFooter]="modalFooter"
              (nzOnCancel)="isVisible = false">
        <ng-template #modalContent>
            <div style="padding: 20px 50px;">
                <div class="c-item">
                    <nz-input
                        [(ngModel)]="inputValue"
                        [nzSize]="'large'"
                        [nzPlaceHolder]="'机房名称'"
                        (ngModelChange)="_console($event)">

                    </nz-input>
                </div>
                <div class="c-item">
                    <nz-input
                          [(ngModel)]="inputValue"
                          [nzSize]="'large'"
                          [nzPlaceHolder]="'机房宽'"
                          (ngModelChange)="_console($event)">

                    </nz-input>
                </div>
                <div class="c-item">
                    <nz-input
                          [(ngModel)]="inputValue"
                          [nzSize]="'large'"
                          [nzPlaceHolder]="'机房高'"
                          (ngModelChange)="_console($event)">

                    </nz-input>
                </div>
                <div class="c-item">
                    <div *ngIf="!roomUpload" class="img-bg">
                        <input id="fileUpload" type="file" (change)="beforeUpload()">
                        <span style="font-size: 14px;line-height: 70px;">
                            <i class="anticon anticon-cloud-upload-o"></i>
                            选择要上传的文件
                        </span>
                    </div>
                    <div *ngIf="roomUpload" class="img-bg img-hover">
                        <img [src]="roomUpload" class="img-area">
                        <div class="mask">
                            <p>
                                <a title="预览图片"><i class="anticon anticon-eye-o"></i></a>
                                <a title="清除文件" (click)="roomUpload = null"><i class="anticon anticon-delete"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #modalFooter>
            <div class="modal-footer">
                <button (click)="isVisible = false" class="m-btn" type="button">取&nbsp;&nbsp;消</button>
                <button (click)="saveRoom()" class="m-btn" type="button">保&nbsp;&nbsp;存</button>
            </div>
        </ng-template>
    </nz-modal>
</div>
