
<div class="menu-top">
    <app-menu-top></app-menu-top>
    <!--<button nz-button [nzType]="'primary'"-->
            <!--(click)="toggleCollapsed()"-->
            <!--style="float: left;margin: 10px">-->
        <!--<i class="anticon"-->
           <!--[class.anticon-menu-unfold]="isCollapsed"-->
           <!--[class.anticon-menu-fold]="!isCollapsed">-->
        <!--</i>-->
    <!--</button>-->
    <!--<ul nz-menu [nzMode]="'horizontal'">-->
        <!--<li nz-menu-item routerLink="/machine"><i class="anticon anticon-mail"></i>机房管理</li>-->
        <!--<li nz-menu-item routerLink="/user/manager"><i class="anticon anticon-mail"></i>设置</li>-->
    <!--</ul>-->
    <!--<nz-avatar [nzShape]="'square'" [nzSize]="'small'" [nzIcon]="'user'"></nz-avatar>-->
</div>
<div class="main">
    <router-outlet></router-outlet>
</div>
