<div class="user-manager-wrap">
    <div class="search-area" nz-row [nzGutter]="8">
        <div nz-col class="gutter-row" [nzSpan]="6">
            <nz-input  [nzPlaceHolder]="'用户代码'"></nz-input>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="6">
            <nz-input  [nzPlaceHolder]="'角色名称'"></nz-input>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="6">
            <nz-select
                style="width: 200px;"
                nzAllowClear
                [nzPlaceHolder]="'用户状态'"
                [(ngModel)]="selectedOption"
                [nzShowSearch]="true">
                <nz-option
                    *ngFor="let option of searchOptions"
                    [nzLabel]="option.label"
                    [nzValue]="option.value"
                    [nzDisabled]="option.disabled">
                </nz-option>
            </nz-select>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="6">
            <button nz-button [nzType]="'default'">
                <i class="anticon anticon-search"></i><span>查&nbsp;&nbsp;询</span>
            </button>
        </div>
    </div>
    <div>
        <div style="margin: 10px 25px;">
            <button nz-button
                    [disabled]="_disabledButton"
                    [nzType]="'primary'"
                    [nzLoading]="_operating"
                    (click)="_operateData()">
                <i class="anticon anticon-delete"></i>
                <span>批量删除</span>
            </button>
            <button nz-button [nzType]="'default'" (click)="createUser()">
                <i class="anticon anticon-plus"></i>
                <span>新&nbsp;&nbsp;增</span>
            </button>
            <span style="margin-left: 8px;" *ngIf="_checkedNumber">已选中 {{_checkedNumber}} 条</span>
        </div>
        <nz-table #nzTable [nzDataSource]="data"
                  [nzSize]="'small'"
                  [nzIsPagination]="false"
                  [nzScroll]="{ y: 440 }"
                  [nzBordered]="true"
                  [nzPageSize]="10">
            <ng-template #nzFixedHeader>
                <thead nz-thead>
                    <tr>
                        <th nz-th [nzWidth]="'30px'" [nzExpand]="true"></th>
                        <th nz-th [nzWidth]="'30px'" [nzCheckbox]="true">
                            <label nz-checkbox
                                   [(ngModel)]="_allChecked"
                                   [nzIndeterminate]="_indeterminate"
                                   (ngModelChange)="_checkAll($event)">
                            </label>
                        </th>
                        <th nz-th [nzWidth]="'100px'"><span>用户代码</span></th>
                        <th nz-th [nzWidth]="'150px'"><span>用户名称</span></th>
                        <th nz-th [nzWidth]="'100px'"><span>用户状态</span></th>
                        <th nz-th [nzWidth]="'200px'"><span>手机号</span></th>
                        <th nz-th [nzWidth]="'250px'"><span>邮箱</span></th>
                        <th nz-th [nzWidth]="'150px'"><span>角色</span></th>
                        <th nz-th [nzWidth]="'150px'"><span>操作</span></th>
                    </tr>
                </thead>
            </ng-template>
            <tbody nz-tbody>
                <ng-template ngFor let-user [ngForOf]="nzTable.data">
                    <tr nz-tbody-tr>
                        <td nz-td [nzExpand]="true">
                            <nz-row-expand-icon [(nzExpand)]="user.expand"></nz-row-expand-icon>
                        </td>
                        <td nz-td [nzCheckbox]="true">
                            <label nz-checkbox [(ngModel)]="user.checked" ></label>
                        </td>
                        <td nz-td>
                            <span>{{user.code}}</span>
                        </td>
                        <td nz-td>
                            <span>{{user.name}}</span>
                        </td>
                        <td nz-td>
                            <nz-switch [nzDisabled]="true" [ngModel]="user.state === 1">
                                <span checked>{{user.state | userState}}</span>
                                <span unchecked>{{user.state | userState}}</span>
                            </nz-switch>
                        </td>
                        <td nz-td>
                            <span>{{user.phone}}</span>
                        </td>
                        <td nz-td>
                            <span>{{user.email}}</span>
                        </td>
                        <td nz-td>
                            <span>{{user.role | userRole}}</span>
                        </td>
                        <td nz-td>
                            <a (click)="modifyItem(user)">修改</a>
                            <nz-popconfirm [nzTitle]="'确定要删除这个用户吗？'"
                                           (nzOnConfirm)="confirmDelete(user)"
                                           (nzOnCancel)="cancel()">
                                <a nz-popconfirm>删除</a>
                            </nz-popconfirm>
                            <a (click)="modifyPassword(user)">重置密码</a>
                            <nz-popconfirm [nzTitle]="'确认' + (user.state | userState: 'reverse') + '吗？'"
                                           (nzOnConfirm)="confirmState(user)"
                                           (nzOnCancel)="cancel()">
                                <a nz-popconfirm>{{user.state | userState: 'reverse'}}</a>
                            </nz-popconfirm>
                        </td>
                    </tr>
                    <tr nz-tbody-tr *ngIf="user.expand">
                        <td nz-td colspan="9">
                            {{user.name}}
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </nz-table>
        <div style="margin: 20px 30px;text-align: right;">
            <app-pagination [pageIndex]="pageIndex"
                            [pageSize]="pageSize"
                            [total]="total"
                            (pageChange)="pageChange($event)">

            </app-pagination>
        </div>
    </div>
    <nz-modal *ngIf="currentUser"
              [nzTitle]="modalTitle"
              [nzContent]="modalContent"
              [nzFooter]="modalFooter"
              [nzVisible]="isModalShow"
              [nzMaskClosable]="false"
              (nzOnCancel)="closeModal()"
              (nzOnOk)="handleOkMiddle($event)">
        <ng-template #modalTitle>
            {{currentUser.id ? '修改' : '新增'}}
        </ng-template>
        <ng-template #modalContent>
            <div nz-row class="m-item">
                <div nz-col [nzSpan]="6" class="m-title">
                    用户代码：
                </div>
                <div nz-col [nzSpan]="18" class="m-content">
                    <nz-input [(ngModel)]="currentUser.code" [nzPlaceHolder]="'default size'"></nz-input>
                </div>
            </div>
            <div nz-row class="m-item">
                <div nz-col [nzSpan]="6" class="m-title">
                    用户名称：
                </div>
                <div nz-col [nzSpan]="18" class="m-content">
                    <nz-input [(ngModel)]="currentUser.name" [nzPlaceHolder]="'default size'"></nz-input>
                </div>
            </div>
            <div nz-row class="m-item">
                <div nz-col [nzSpan]="6" class="m-title">
                    用户状态：
                </div>
                <div nz-col [nzSpan]="18" class="m-content">
                    <nz-radio-group [(ngModel)]="currentUser.state">
                        <label nz-radio-button [nzValue]="1">
                            <span>{{1 | userState}}</span>
                        </label>
                        <label nz-radio-button [nzValue]="2">
                            <span>{{2 | userState}}</span>
                        </label>
                    </nz-radio-group>
                </div>
            </div>
            <div nz-row class="m-item">
                <div nz-col [nzSpan]="6" class="m-title">
                    角色：
                </div>
                <div nz-col [nzSpan]="18" class="m-content">
                    <nz-select style="width: 120px;" [(ngModel)]="currentUser.role">
                        <nz-option
                            *ngFor="let role of roles"
                            [nzLabel]="role.label"
                            [nzValue]="role.value">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-row class="m-item">
                <div nz-col [nzSpan]="6" class="m-title">
                    手机号：
                </div>
                <div nz-col [nzSpan]="18" class="m-content">
                    <nz-input [(ngModel)]="currentUser.phone" [nzPlaceHolder]="'default size'"></nz-input>
                </div>
            </div>
            <div nz-row class="m-item">
                <div nz-col [nzSpan]="6" class="m-title">
                    邮箱：
                </div>
                <div nz-col [nzSpan]="18" class="m-content">
                    <nz-input [(ngModel)]="currentUser.email" [nzPlaceHolder]="'default size'"></nz-input>
                </div>
            </div>
            <div nz-row class="m-item">
                <div nz-col [nzSpan]="6" class="m-title">
                    密码：
                </div>
                <div nz-col [nzSpan]="18" class="m-content">
                    <nz-input [(ngModel)]="currentUser.password" [nzPlaceHolder]="'default size'"></nz-input>
                </div>
            </div>
            <div nz-row class="m-item">
                <div nz-col [nzSpan]="6" class="m-title">
                    密码有效期：
                </div>
                <div nz-col [nzSpan]="18" class="m-content">
                    <nz-input [ngModel]="currentUser.password" [nzPlaceHolder]="'default size'"></nz-input>
                </div>
            </div>
        </ng-template>
        <ng-template #modalFooter>
            <div class="modal-footer">
                <button (click)="closeModal()" class="m-btn" type="button">取&nbsp;&nbsp;消</button>
                <button (click)="saveUser()" class="m-btn" type="button">保&nbsp;&nbsp;存</button>
            </div>
        </ng-template>
    </nz-modal>

    <nz-modal *ngIf="currentUser && password" [nzTitle]="modalPwdTitle"
            [nzContent]="modalPwdContent"
            [nzMaskClosable]="false"
            [nzFooter]="modalPwdFooter"
            [nzVisible]="isModifyPasswordShow"
            (nzOnCancel)="isModifyPasswordShow = false"
            (nzOnOk)="handleOkMiddle($event)">
        <ng-template #modalPwdTitle>
            修改密码
        </ng-template>
        <ng-template #modalPwdContent>
            <div nz-row class="m-item">
                <div nz-col [nzSpan]="6" class="m-title">
                    旧密码：
                </div>
                <div nz-col [nzSpan]="18" class="m-content">
                    <nz-input [(ngModel)]="password.oldPwd" [nzPlaceHolder]="'default size'"></nz-input>
                </div>
            </div>
            <div nz-row class="m-item">
                <div nz-col [nzSpan]="6" class="m-title">
                    新密码：
                </div>
                <div nz-col [nzSpan]="18" class="m-content">
                    <nz-input [(ngModel)]="password.newPwd" [nzPlaceHolder]="'default size'"></nz-input>
                </div>
            </div>
            <div nz-row class="m-item">
                <div nz-col [nzSpan]="6" class="m-title">
                    确认新密码：
                </div>
                <div nz-col [nzSpan]="18" class="m-content">
                    <nz-input [(ngModel)]="password.rePwd" [nzPlaceHolder]="'default size'"></nz-input>
                </div>
            </div>
        </ng-template>
        <ng-template #modalPwdFooter>
            <div class="modal-footer">
                <button (click)="isModifyPasswordShow = false" class="m-btn" type="button">取&nbsp;&nbsp;消</button>
                <button (click)="savePassword()" class="m-btn" type="button">保&nbsp;&nbsp;存</button>
            </div>
        </ng-template>
    </nz-modal>
</div>
