
<div class="container">
  <div class="top-info">
    <button nz-button [nzType]="'default'" [nzGhost]="true" (click)=delCabinet()>
        <i class="anticon anticon-arrow-left"></i>
        <span >返回</span>
      </button>
      <button nz-button [nzType]="'default'" [nzGhost]="true">
        <i class="anticon anticon-save"></i>
        <span>保存</span>
      </button>
      <button nz-button [nzType]="'default'" [nzGhost]="true">
        <i class="anticon anticon-camera-o"></i>
        <span>设置背景区域</span>
      </button>
      <button nz-button [nzType]="'default'">
      <span>读写模式</span>
    </button>
  </div>
  <div class="machine-room" id="mcRoom" style="width: 70%; height: 100%;"></div>
  <div class="tools">
    <nz-collapseset [nzAccordion]="true">
      <nz-collapse  nzTitle="机柜" nzActive="true">
        <div>
          <img class="img" draggable="true" src="assets/room/mx-cabinet3.svg" alt="" width="80px;">
          <p>42U机柜600*1200(横)</p>
        </div>
        <div><img class="img" draggable="true" src="assets/room/mx-cabinet.svg" alt="" width="80px;"><p>42U机柜600*1200(竖)</p></div>
      </nz-collapse>
      <nz-collapse  nzTitle="安全防范" nzActive="false">
          <div><img class="img" draggable="true" src="assets/room/mx-cabinet2.svg" alt="" width="80px;"><p>42U机柜600*1200(竖)</p></div>
          <div><img class="img" src="assets/room/mx-cabinet4.svg" alt="" width="80px;"><p>42U机柜600*1200(竖)</p></div>
      </nz-collapse>
      <nz-collapse  nzTitle="自定义" nzActive="false">
          <div><img class="img" draggable="true" src="assets/room/mx-cabinet2.svg" alt="" width="80px;"></div>
          <div><img class="img" draggable="true" src="assets/room/mx-cabinet.svg" alt="" width="80px;"></div>
      </nz-collapse>
    </nz-collapseset>
  </div>
  <div class="cabinet-info" [@attributeState]="state">
    <h5>设备属性</h5>
    <div class="search">
      <input type="text" placeholder="请输入资产编号">
      <button nz-button [nzType]="'primary'" [nzShape]="'circle'">
      <i class="anticon anticon-search"></i>
    </button>
    </div>
    <table border="1" cellpadding='0' cellspacing='0'>
      <tr>
        <td>资产名称</td>
        <td>A5-05服务器机柜</td>
      </tr>
      <tr>
        <td>资产编号</td>
        <td>C-Rittal-000054</td>
      </tr>
      <tr>
        <td>AMS资产卡片号</td>
        <td></td>
      </tr>
      <tr>
        <td>品牌型号</td>
        <td>上海延华智能科技股份有限公司>Rittal>TS_IT>TS_IT</td>
      </tr>
      <tr>
        <td>项目名称</td>
        <td>基础设施>机柜>机柜</td>
      </tr>
      <tr>
        <td>序列号</td>
        <td>A9-01</td>
      </tr>
      <tr>
        <td>位置</td>
        <td>机房模块-A</td>
      </tr>
      <tr>
        <td>资产分类</td>
        <td>基础设施>机柜>机柜</td>
      </tr>
    </table>
    <div class="operation">
      <button nz-button [nzType]="'primary'" [nzGhost]="true">
        <i class="anticon anticon-close-circle"></i>
        <span>解绑</span>
      </button>
      <button nz-button [nzType]="'primary'" [nzGhost]="true">
        <i class="anticon anticon-edit"></i>
        <span>详情</span>
      </button>
      <button nz-button [nzType]="'primary'" [nzGhost]="true" (click)=delCabinet()>
        <i class="anticon anticon-close-circle"></i>
        <span >删除</span>
      </button>
      <!--<nz-popconfirm [nzTitle]="'确定要删除这个任务吗？'" (nzOnConfirm)="confirm()" (nzOnCancel)="cancel()" [nzPlacement]="'topLeft'">
        <button nz-popconfirm nz-button class="ant-btn">删除</button>
      </nz-popconfirm>-->
      <button nz-button [nzType]="'primary'" [nzGhost]="true" (click)=showModal()>
        <i class="anticon anticon-close-circle"></i>
        <span >修改</span>
        
      </button>
    <!--模态框修改机房的大小-->
    <nz-modal [nzVisible]="isVisible" [nzTitle]="'修改机房大小'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)" [nzConfirmLoading]="isConfirmLoading">
      <ng-template #modalContent>
        机房长: <input type="text" placeholder="请输入机房长(单位：米)"><br>
        机房宽: <input type="text" placeholder="请输入机房宽(单位：米)">
      </ng-template>
    </nz-modal>
    </div>
  </div>
  <div class="attribute" (click)=toggle()><i class="anticon anticon-left-square"></i>设备属性</div> 
  <div class="tools-show" (click)=toolsToggle()> <i class="anticon anticon-left-square"></i>工具栏</div>
</div>