
<div class="container">
  <div class="top-info">
    <button nz-button [nzType]="'default'" [nzGhost]="true" (click)=delCabinet()>
        <i class="anticon anticon-arrow-left"></i>
        <span >返回</span>
      </button>
      <button nz-button [nzType]="'default'" [nzGhost]="true" (click)=roomSave()>
        <i class="anticon anticon-save"></i>
        <span>保存</span>
      </button>
      <button nz-button [nzType]="'default'" [nzGhost]="true">
        <i class="anticon anticon-camera-o"></i>
        <span>设置背景区域</span>
      </button>
      <button nz-button [nzType]="'default'">
      <span>读写模式</span>
    </button>
      <button nz-button [nzType]="'default'">
      <span>{{roomId}}</span>
    </button>
    <button nz-button [nzType]="'default'"  (click)=showModal()>
        <i class="anticon anticon-file-excel"></i>
        <span >编辑大小</span>
      </button>
  </div>
  <div class="machine-room" id="mcRoom" style="width: 70%; height: 100%;"></div>
  <div class="tools" id="tools">
    <nz-collapseset [nzAccordion]="true">
      <nz-collapse  nzTitle="机柜" nzActive="false">
        <div>
          <img class="img" draggable="true" src="assets/room/mx-60120s.svg" alt="" width="40px;"height="80px" _width="30"_height="60">
          <p>42U机柜600*1200(竖)</p>
        </div>
        <div><img id="aaaa" class="img" draggable="true" src="assets/room/mx1.svg" alt="" width="80" _width="60"_height="30" height="40"><p>42U机柜600*1200(横)</p></div>
        <div><img class="img" draggable="true" src="assets/room/mx-60120s.svg" alt="" style="width:60px;height:80px" _width="40"_height="60"><p>42U机柜800*1200(竖)</p></div>
        <div><img class="img" src="assets/room/mx-cabinet4.svg" alt="" width="80px;" _width="60"_height="40"><p>42U机柜800*1200(横)</p></div>
        <div><img class="img" src="assets/room/mx-cabinet4.svg" alt="" width="80px;" _width="60"_height="40" _type='customCabinet'><p>自定义机柜</p></div>
      </nz-collapse>
      <nz-collapse  nzTitle="后台机柜列表" nzActive="false">

          <div *ngFor="let list of cabinetTypeList"><div class="cabinetType" draggable="true" [ngStyle]="{'width': list.cabinetTypeWidth/15+'px',
          'height': list.cabinetTypeHeight/15+'px','background': 'green'}" [attr._width]="list.cabinetTypeWidth/20" [attr._height]='list.cabinetTypeHeight/20'></div><p>{{list.cabinetTypeName}}</p></div>
      </nz-collapse>
      <nz-collapse  nzTitle="自定义" nzActive="false">
          <div><img class="img" draggable="true" src="assets/room/mx-cabinet2.svg" alt="" width="40px;" _width= '15' _height= '80' _type='roomWall'><p>基建</p></div>
          <div><img class="img" draggable="true" src="assets/room/mx-cabinet4.svg" alt="" width="80px;" _width= '15' _height= '80' _type='roomConditioner'><p>环境空调</p></div>
      </nz-collapse>
    </nz-collapseset>
  </div>
  <div class="cabinet-info" [@attributeState]="state">
    <h5>设备属性</h5>
    <!--搜索框-->
    <!--<div class="search">
      <input type="text" placeholder="请输入资产编号">
      <button nz-button [nzType]="'primary'" [nzShape]="'circle'">
      <i class="anticon anticon-search"></i>
    </button>
    </div>-->
    <!--<table border="1" cellpadding='0' cellspacing='0'>
      <tr>
        <td>资产名称</td>
        <td style="font-size :16px;">{{name}}</td>
      </tr>
      <tr>
        <td>资产编号</td>
        <td>C-Rittal-000054</td>
      </tr>
      <tr>
        <td>AMS资产卡片号</td>
        <td>机柜的id{{id}}</td>
      </tr>
      <tr>
        <td>品牌型号</td>
        <td>上海延华智能科技股份有限公司>Rittal>TS_IT>TS_IT</td>
      </tr>
      <tr>
        <td>项目名称</td>
        <td>基础设施>机柜>机柜</td>
      </tr>
      <tr>
        <td>序列号</td>
        <td>A9-01</td>
      </tr>
      <tr>
        <td>位置</td>
        <td>机房模块-A</td>
      </tr>
      <tr>
        <td>资产分类</td>
        <td>基础设施>机柜>机柜</td>
      </tr>
    </table>-->
    <div class="info-detail">
      <form nz-form  >
      <div nz-form-item nz-row>
        <div nz-form-label nz-col >
          <label>机柜名称</label>
        </div>
        <div nz-form-control nz-col  >
          <nz-input  [nzPlaceHolder]="name" [nzSize]="'large'" [(ngModel)]='name' name= 'first'>
          </nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col>
          <label>资产编号</label>
        </div>
        <div nz-form-control nz-col  >
          <nz-input   [nzPlaceHolder]="'资产编号'" [nzSize]="'large'">
          </nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col>
          <label>品牌编号</label>
        </div>
        <div nz-form-control nz-col  >
          <nz-input   [nzPlaceHolder]="'品牌编号'" [nzSize]="'large'">
          </nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col>
          <label>系列号</label>
        </div>
        <div nz-form-control nz-col  >
          <nz-input   [nzPlaceHolder]="id" [nzSize]="'large'">
          </nz-input>
        </div>
      </div>
      <div nz-form-item nz-row *ngIf="isCustomCabinet">
        <div nz-form-label nz-col>
          <label>机柜宽</label>
        </div>
        <div nz-form-control nz-col  >
          <nz-input    [nzSize]="'large'" [(ngModel)]='width' name= 'two'>
          </nz-input>
        </div>
      </div>
      <div nz-form-item nz-row *ngIf="isCustomCabinet">
        <div nz-form-label nz-col>
          <label>机柜高</label>
        </div>
        <div nz-form-control nz-col  >
          <nz-input    [nzSize]="'large'" [(ngModel)]='height' name= 'three'>
          </nz-input>
        </div>
      </div>
      <div nz-form-item nz-row *ngIf="isCustomCabinet">
        <div nz-form-label nz-col>
          <label>机柜U数</label>
        </div>
        <div nz-form-control nz-col  >
          <nz-input    [nzSize]="'large'" [(ngModel)]='height' name= 'four'>
          </nz-input>
        </div>
      </div>
    </form>
    </div>
    <div class="operation">
      <button nz-button [nzType]="'primary'" [nzGhost]="true" (click) = lockCabinet()>
        <i class="anticon anticon-lock"></i>
        <span>锁定</span>
      </button>
      <button nz-button [nzType]="'primary'" [nzGhost]="true" (click) = unLockCabinet()>
        <i class="anticon anticon-edit"></i>
        <span>解锁</span>
      </button>
      <button nz-button [nzType]="'primary'" [nzGhost]="true" (click) = delCabinet()>
        <i class="anticon anticon-close-circle"></i>
        <span >删除</span>
      </button>
      <!--<nz-popconfirm [nzTitle]="'确定要删除这个任务吗？'" (nzOnConfirm)="confirm()" (nzOnCancel)="cancel()" [nzPlacement]="'topLeft'">
        <button nz-popconfirm nz-button class="ant-btn">删除</button>
      </nz-popconfirm>-->
      <button nz-button [nzType]="'primary'" [nzGhost]="true"(click)="editCabinet()">
        <i class="anticon anticon-close-circle"></i>
        <span >修改</span>
      </button>
    <!--模态框修改机房的大小-->

    </div>
  </div>
  <div class="attribute" (click)=toggle()><i class="anticon anticon-left-square"></i>设备属性</div>
  <!--<div class="tools-show" (click)=toolsToggle()> <i class="anticon anticon-left-square"></i>工具栏</div>-->

    <nz-modal [nzVisible]="iisVisible" [nzTitle]="'机柜属性'" [nzContent]="mmodalContent" (nzOnCancel)="hiddenCabinet($event)" (nzOnOk)="handleOkcabinet($event)">
      <ng-template #mmodalContent>
        <form nz-form  >
      <div nz-form-item nz-row>
        <div nz-form-label nz-col >
          <label>机柜名称</label>
        </div>
        <div nz-form-control nz-col  >
          <nz-input  [nzPlaceHolder]="name" [nzSize]="'large'">
          </nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col>
          <label>资产编号</label>
        </div>
        <div nz-form-control nz-col  >
          <nz-input   [nzPlaceHolder]="'资产编号'" [nzSize]="'large'">
          </nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col>
          <label>品牌编号</label>
        </div>
        <div nz-form-control nz-col  >
          <nz-input   [nzPlaceHolder]="'品牌编号'" [nzSize]="'large'">
          </nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col>
          <label>系列号</label>
        </div>
        <div nz-form-control nz-col  >
          <nz-input   [nzPlaceHolder]="id" [nzSize]="'large'">
          </nz-input>
        </div>
      </div>
    </form>
      </ng-template>
    </nz-modal>
    <nz-modal [nzVisible]="isVisible" [nzTitle]="'修改机房大小'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)" [nzConfirmLoading]="isConfirmLoading">
      <ng-template #modalContent>
        机房长: <input type="text" placeholder="请输入机房长(单位：米)" [(ngModel)]='_roomWidth' ><br>
        机房宽: <input type="text" placeholder="请输入机房宽(单位：米)" [(ngModel)]='_roomHeight'>
      </ng-template>
    </nz-modal>
</div>
