<span class="wrap">
    <i class="anticon anticon-pushpin "></i>
    <em>{{total}}</em>
</span>
<span class="wrap">
    <i class="anticon anticon-frown alarm-error"></i>
    <em>{{error}}</em>
</span>
<span class="wrap">
    <i class="anticon anticon-meh alarm-warning"></i>
    <em>{{warning}}</em>
</span>
<span class="wrap">
    <i class="anticon anticon-smile alarm-info"></i>
    <em>{{info}}</em>
</span>
<span class="wrap">
    <i class="anticon anticon-star alarm-primary"></i>
    <em>{{primary}}</em>
</span>
<span class="wrap">
    <i class="anticon anticon-heart alarm-success"></i>
    <em>{{success}}</em>
</span>
<span class="line"></span>


