$bigRed: #da2619;
$reColor: #f3f3f3;
$textColor: #333;
$transition: all 0.4s;
.menu-wrap {
    position: relative;
    .alarm {
        position: absolute;
        top: 0px;
        right: 200px;
        line-height: 40px;
        height: 40px;
        background: $reColor;
    }
}

.custom-ul {
    padding-left: 40px;
    position: relative;
    background: $reColor;
    li {
        display: inline-block;
        position: relative;
        line-height: 40px;
        cursor: pointer;
        &:hover {
            .bias-left {
                border-bottom: 40px solid $bigRed;
            }
            .bias-title {
                color: #ffffff;
                background: $bigRed;
            }
            .bias-right {
                border-top: 40px solid $bigRed;
            }
            .menu-parent {
                visibility: visible;
                opacity: 1;
                >li:hover {
                    >.menu-child {
                        visibility: visible;
                        opacity: 1;
                        >li:hover {
                            >.menu-child {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        .bias-left {
            width: 0;
            height: 0;
            float: left;
            border-bottom: 40px solid $reColor;
            border-left: 14px solid transparent;
            transition: $transition;
        }
        .bias-title {
            padding: 0 15px;
            color: $textColor;
            font-weight: bold;
            display: inline-block;
            background: $reColor;
            transition: $transition
        }
        .bias-right {
            width: 0;
            height: 0;
            float: right;
            border-top: 40px solid $reColor;
            border-right: 14px solid transparent;
            transition: $transition;
        }
        .custom-item-menu {
            position: absolute;
            background: #ffffff;
            border: 1px solid #cccccc;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-top: 2px solid $bigRed;
            li {
                display: block;
                position: relative;
                padding-left: 16px;
                line-height: 28px;
                &:hover {
                    background: #f3f3f3;
                }
                .anticon {
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    margin-top: -6px;
                }
            }
        }
        .menu-parent {
            visibility: hidden;
            opacity: 0;
            left: 0;
            right: -100%;
            transition: all .4s;
        }
    }
}

.menu-child {
    visibility: hidden;
    opacity: 0;
    left: 100%;
    right: -100%;
    top: 0px;
    transition: all .4s;
}

.menu-right-side {
    .menu-parent {
        right: 14px;
        left: -100%;
    }
    .menu-child {
        right: 100%;
        left: -100%;
    }
}

